/* Style for the form container */
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    transition: transform 0.2s, box-shadow 0.2s;
}



/* Style for the title */
.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for input fields and labels */
.input_field {
    margin-bottom: 20px;
}

.requir {
    font-weight: bold;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #00cc00; /* Green border on focus */
}

/* Style for the submit button */
.btn {
    background-color: #42855B;
    color: white;
    border: 0;
    outline: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #00cc00; /* Green hover background color */
    color: black;
}


